.doctors-container {
  padding: 60px 20px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT';
}

.doctors-container h2 {
  font-size: 2.5rem;
  color: #2d5f8b;
  margin-bottom: 40px;
}

.doctors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 50px;
}

.doctor-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.doctor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border: 0.5px solid beige
}

.doctor-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.doctor-card h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.specialization {
  font-weight: bold;
  color: #4c8dc2;
  margin: 5px 0;
}

.experience {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 15px;
}

.book-btn {
  background-color: #2d5f8b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.book-btn:hover {
  background-color: #1b446a;
}
